/* ##########################################TAG SELECTOR########################################## */

body{
    background-color: pink;
}
h1{
    color: red;
}

img:hover{
    background-color: gold;
}

/* ##########################################CLASS SELECTOR########################################## */

.bacon {
    background-color: green;
}

.broccoli {
    background-color: red;
}

/* ##########################################ID SELECTOR########################################## */

#heading {
    color: aqua;
}

/* ID can only have a single instance. While a Class can have multiple */